@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(150deg, rgb(29, 142, 255) 50%, rgb(0, 106, 255) 100%);
}

.message img {
  max-width: 30vw;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.message img:hover {
  transform: scale(1.05);
}

.message .logo {
  min-width: 3rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(29, 142, 255);
  border-radius: 1rem;
}

.loader {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.loader div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(29, 142, 255);
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 767px) {
  .message img {
    max-width: 60vw;
  }
}